<template>
  <div class="card">
    <ui>
      <li v-for=" item in 5" :key="item">
        <slot :iter="item"></slot>
      </li>
    </ui>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>