<template>
  <div class="card">
    <h3>{{ title }}</h3>
    <AppButton @action="open" >{{ isNewsOpen ? 'Закрыть' : 'Открыть' }}</AppButton>
    <AppButton color="danger" v-if="wasRead" @action="unmark">Отметить непрочитанной</AppButton>
    <div v-if="isNewsOpen">
      <AppNewsList></AppNewsList>
      <AppButton v-if="!wasRead" color="primary" @click="read" >Прочесть новость</AppButton>
    </div>
  </div>
</template>

<script>
import AppNewsList from "@/components/AppNewsList";
import AppButton from "@/components/AppButton";
export default {
  // props: ['title'],
  // emits: ['openNews',],
  props: {
    wasRead: Boolean,
    title: {
      type: String,
      required: true
    },
    id: {
      type: Number,
      required: true
    },
    isOpen: {
      type: Boolean,
      required: false,
      default: false,
      // validator(value) {
      //   console.log(value)
      //   return true
      // }
    },
  },
  emits: {
    openNews: null,
    readNews(id) {
      if (id) {
        return true;
      }
      console.warn('Не найден ID прочитанной новости!!!')
      return false;
    },
    unmark(id) {
      if (id) {
        return true;
      }
      console.warn('Не найден ID прочитанной новости!!!')
      return false;
    }
  },
  data() {
    return {
      isNewsOpen: this.isOpen,
    }
  },
  methods: {
    open() {
      this.isNewsOpen = !this.isNewsOpen;
      if(this.isNewsOpen) {
        this.$emit('openNews', 42);
      }
    },
    read() {
      this.isNewsOpen = false;
      this.$emit('readNews', this.id);
    },
    unmark() {
      this.$emit('unmark', this.id);
    }
  },
  components: {
    AppButton,
    AppNewsList,
  }
}
</script>