<template>
  <div class="container pt-1">
    <div class="card">
      <h2>Актуальные новости {{ date }}</h2>
      <span>Открыто: <strong>{{ openRate }}</strong> | Прочитано: <strong>{{ readRate }}</strong></span>
    </div>
    <AppNews
        v-for="item in news"
        :key="item.id"
        :title="item.title"
        :id="item.id"
        :isOpen="item.isOpen"
        :wasRead="item.wasRead"
        @openNews="openNews"
        @readNews="readNews"
        @unmark="unmark"
    ></AppNews>
  </div>
</template>

<script>
import AppNews from "@/components/AppNews";

export default {
  data() {
    return {
      date: new Date().toLocaleDateString(),
      openRate: 0,
      readRate: 0,
      news: [
        {
          title: 'Первая новость',
          id: 1,
          isOpen: false,
          wasRead: false,
        },
        {
          title: 'Вторая новость',
          id: 2,
          isOpen: false,
          wasRead: false,
        },
      ],
    }
  },
  components: {
    AppNews,
  },
  provide() {
    return {
      news: this.news,
    }
  },
  methods: {
    openNews(data) {
      this.openRate++;
      console.log(data);
    },
    readNews(id) {
      const idx = this.news.findIndex(item => item.id === id);
      this.news[idx].wasRead = true;
      this.readRate++;
    },
    unmark(id) {
      const news = this.news.find(item => item.id === id);
      news.wasRead = false;
    }
  },
}
</script>

<style scoped>

</style>