<template>
  <div class="container pt-1">
    <div class="card">
      <h2>Slots</h2>
    </div>

    <app-list>
      <template #default="slotProps">
        <span style="color: #c25205">{{ slotProps.iter }}</span>
      </template>
    </app-list>

    <app-block>
      <p>Lorem ipsum dolor sit amet.</p>
      <template #header>
        <h3>Это заголовок</h3>
      </template>
      <template v-slot:footer>
        <hr/>
        <small>Это footer</small>
      </template>
    </app-block>
    <app-video></app-video>
  </div>
</template>

<script>
import AppBlock from "@/components/AppBlock";
import AppList from "@/components/AppList";
import AppVideo from "@/components/AppVideo";

export default {
  components: {AppVideo, AppBlock, AppList}
}
</script>

<style scoped>

</style>