<template>
  <div class="card">
    <h3>Это компонент 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, sed.</p>
  </div>
  <div class="form-control">
    <input>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>