<template>
  <div class="card">
    <h3>Это компонент 2</h3>
    <p>Lorem ipsum dolor sit amet.</p>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, sed.</p>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>