<template>
  <div class="card">
    <div class="card vid">
      <video
          style="aspect-ratio: 16/9"
          src="../assets/008.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          poster="../assets/picture008.png"
      >
      </video>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>

@media (max-width: 1200px) {
  video {
    width: 800px;
    height: 500px;
  }
  div.card.vid {
    width: 810px;
    height: 510px;
  }
}
@media (max-width: 500px) {
  video {
    width: 350px;
    height: 200px;
  }
  div.card.vid {
    width: 360px;
    height: 210px;
  }
}
div {
  display: flex;
  justify-content: center;
}
</style>