<template>
  <h1>This is title</h1>
  <h2>{{ title }}</h2>
  <hr/>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores atque consectetur cupiditate deserunt dignissimos eveniet iste itaque, laboriosam magni molestiae necessitatibus nihil numquam quae quos sapiente temporibus veniam voluptatibus!</p>
</template>

<script>
export default {
  data() {
    return {
      title: 'The Header from Data!'
    }
  }
}
</script>

<style>

</style>