<template>
  <div class="container pt-1">
    <div class="card">
      <h2>Динамические и асинхронные компоненты</h2>
      <async-component></async-component>
      <app-button
          ref="oneBtn"
          :color="active === 'one' ? 'primary' : ''"
          @action="active = 'one'"
      >One
      </app-button>
      <app-button
          :color="active === 'two' ? 'primary' : ''"
          @action="active = 'two'"
      >Two
      </app-button>

      <keep-alive>
        <component :is="componentName"></component>
      </keep-alive>

      <app-video v-show="true"></app-video>
    </div>
  </div>
</template>

<script>
import AppVideo from "@/components/AppVideo";
import AppButton from "@/components/AppButton";
import AppTextOne from "@/components/AppTextOne";
import AppTextTwo from "@/components/AppTextTwo";
import AppAsyncComponent from "@/components/AppAsyncComponent";

export default {
  data() {
    return {
      active: 'one'
    }
  },
  computed: {
    componentName() {
      if (this.active === 'one') {
        return 'app-text-one';
      }
      return 'app-text-two';
    }
  },
  components: {AppAsyncComponent, AppTextTwo, AppTextOne, AppButton, AppVideo}
}
</script>

<style scoped>

</style>